.el-dialog{
  width: 600px;
  display: flex;
  flex-direction: column;
  margin: 0 !important;
  position: absolute;
  top: 50%;
  left: 50%;
  max-height: 100%;
  transform:translate(-50%, -50%);
  .el-dialog__header {
    padding: 20px 20px 0;
  }
  .el-dialog__body{
    flex: 1;
    overflow: auto;
    padding: 20px 20px;
  }
}

.el-form-item {
  margin-bottom: 18px;
}
.form-inline{
  display: flex;
  .el-form-item{
    flex: 1;
    &:first-child{
      margin-right: 10px;
    }
    &:last-child{
      margin-left: 10px;
    }
  }
}
.el-form--label-top{
  .el-form-item__label{
    padding: 0;
    line-height: 30px;
    font-weight: bold;
  }
}
.el-cascader-menu {
  height: 300px;
}
// 参考：https://www.cnblogs.com/chenfanga/p/11600251.html
input:-webkit-autofill {
  box-shadow: 0 0 0px 1000px white inset !important;
}  
input:-webkit-autofill:focus {
  box-shadow: 0 0 0px 1000px white inset !important;
} 

.el-breadcrumb__item {
  .el-breadcrumb__inner {
    color: #97a8be !important;
    cursor: text;
    &.is-link {
      color: #606266 !important;
      font-weight: 400;
      cursor: pointer;
    }
  }
  .el-breadcrumb__separator {
    margin: 0 9px;
    font-weight: 700;
    color: #C0C4CC;
  }
}


.over-ellipsis{
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

// 自定义滚动条
/*滚动条整体样式*/
.c-scrollbar::-webkit-scrollbar {
  /*高宽分别对应横竖滚动条的尺寸*/
  width: 4px;
  height: 4px;
}
/*滚动条里面小方块*/
.c-scrollbar::-webkit-scrollbar-thumb {
  border-radius: 4px;
  box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.2);
  background: #606a78;
}
/*滚动条里面轨道*/
.c-scrollbar::-webkit-scrollbar-track, .c-scrollbar::-moz-scrollbar-track {
  box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  background: #304156;
}

/* fade-transform */
// .fade-transform-leave-active,
// .fade-transform-enter-active {
//   transition: all .5s;
// }

// .fade-transform-enter {
//   opacity: 0;
//   transform: translateX(-30px);
// }

// .fade-transform-leave-to {
//   opacity: 0;
//   transform: translateX(30px);
// }

a, a:focus, a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}


.none-scroller {
  &::-webkit-scrollbar {
    display: none;
  }
}