.el-dialog{
  width: 600px;
  display: flex;
  flex-direction: column;
  margin: 0 !important;
  position: absolute;
  top: 50%;
  left: 50%;
  max-height: 100%;
  transform:translate(-50%, -50%);
  .el-dialog__header {
    padding: 20px 20px 0;
  }
  .el-dialog__body{
    flex: 1;
    overflow: auto;
    padding: 20px 20px;
  }
}

.el-form-item {
  margin-bottom: 18px;
}
.form-inline{
  display: flex;
  .el-form-item{
    flex: 1;
    &:first-child{
      margin-right: 10px;
    }
    &:last-child{
      margin-left: 10px;
    }
  }
}
.el-form--label-top{
  .el-form-item__label{
    padding: 0;
    line-height: 30px;
    font-weight: bold;
  }
}
// 参考：https://www.cnblogs.com/chenfanga/p/11600251.html
input:-webkit-autofill {
  box-shadow: 0 0 0px 1000px white inset !important;
}  
input:-webkit-autofill:focus {
  box-shadow: 0 0 0px 1000px white inset !important;
} 